/Semana_1/Semana1/nbproject/private/
/Semana_1/Semana1/build/
/Semana_2/PacmanS2/nbproject/private/
/Semana_2/PacmanS2/build/
/Semana_2/ComparadorDeTareas/nbproject/private/
/Semana_2/ComparadorDeTareas/build/
/Ejemplo4/nbproject/private/
/Ejemplo4/build/
